{# {% import '_macros/global.twig' as global %} #}

{# {% for key, value in posts %}
    <div class="col-sm-4">
        {{ global.card({
            'image': img ~ '/global/theme-sm.jpg',
            'title': value.title,
            'date': value.date|date('F Y')|capitalize,
            'content': value.content|truncate(20, true),
            'link': value.link
        }) }}
    </div>
{% endfor %} #}
{# {{ dump(posts) }} #}
{% for key, value in posts %}
    <div class="post-block">
        <div class="row no-gutters h-100 mt-xxl md-down-mt-lg">
            <div class="md-down-d-none col-lg-4"></div>
            <div class="col-lg-4">
                <div class="row ai-center h-100">
                    <div class="col-lg-9 mx-auto pr-md">
                        <div class="title-xl tt-u project-text">{{value.title}}</div>
                        <div class="mt-md fw-sm project-text">{{value.get_field('posts_desc')}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-cover h-100 project-img" style="background:url('{{value.get_field('posts_img').url}}');"></div>
            </div>
        </div>
    </div>
{% endfor %}

